body {
  text-align: center;
  background-color : powderblue;
  }
h1 { 
  color : blue;
  }
img {
  border-style : double;
  border-color : black;
  border-width : 10px;
  border-top-right-radius : 200px;
  border-bottom-left-radius : 200px;
  }
