html {
  height : 100hv;
}

.back {
  width : 480px;
  height : 276px;
  background-color : green;
  background-image : url("https://github.com/abolfazlrasoulizade/abolfazlrasoulizade.github.io/blob/main/img/Vector_29.jpg?raw=true")
}
.prof{
}
