html {
  height : 100hv;
}

body {
  background-color : #ff5;
}

.frame{
  width : 320px;
  height : 650px;
  margin-left: auto;
  margin-right : auto;
  border-radius : 40px ;
  border : 6px solid black;
  background-color : #fff;
}

.back {
  width : 320px;
  height : 276px;
  background-image : url("https://github.com/abolfazlrasoulizade/abolfazlrasoulizade.github.io/blob/main/img/Vector_29.jpg?raw=true");
  background-size : contain;
  border-top-right-radius : 32px ;
  border-top-left-radius : 33px ;
}

.profile{
  margin-left : 145px;
  margin-top : 12px;
}

.camera {
  margin-left : auto;
  margin-right : auto;
  width : 100px;
  height : 20px;
  background-color : black;
  border-bottom-right-radius : 15px;
  border-bottom-left-radius : 15px;
}
