@font-face {
  font-family: pinyon script;
  src: url(/PinyonScript-Regular.ttf) format('ttf');
  }




body {
  text-align: center;
  background-color : powderblue;
  }
h1 { 
  color : blue;
  font-family : pinyon script;
  }
img {
  border-style : double;
  border-color : black;
  border-width : 10px;
  border-top-right-radius : 100px;
  border-bottom-left-radius : 100px;
  border-bottom-right-radius : 100px;
  border-top-left-radius : 100px;
  }
